



@font-face {
font-family: "Gilroy";
src:
url("assets/Fonts/Gilroy.otf") format("opentype");
}

@font-face {
font-family: "Meisha";
src:
url("assets/Fonts/MEISHA.otf") format("opentype");
}
@font-face {
font-family: "Meisha Sans";
src:
url("assets/Fonts/MEISHA_SANS_SERIF.otf") format("opentype");
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

.main{
	display: flex;
	background-color: #ffffff;
	width: 1680px;
	height: 1080px;
}

.pubblico {	
  	opacity: .62;
    max-height: 140%;
    max-width: 100%;
    margin:0;
    overflow: visible;
  	position: absolute;
  	//left: +15%;
	top: 201px;
}
.Band{
	
	position: absolute;
	left: 0px;
	top: 4px;
	overflow: visible;
	width: 174px;
	white-space: nowrap;
	text-align: left;
	font-family: MEISHA SANS SERIF;
	font-style: normal;
	font-weight: normal;
	font-size: 59px;
	color: #ff1744;

}
.Advisor{
	position: absolute;
	left: 130px;
	top: 20px;
	overflow: visible;
	width: 199px;
	white-space: nowrap;
	text-align: left;
	font-family: Meisha;
	font-style: normal;
	font-weight: normal;
	font-size: 47px;
	color: rgba(0,0,0,1);
}
.TopBar{
	width: 248px;
	height: 54px;
	overflow: visible;
	position: absolute;
	left: 1330px;
	top: 67px;
}
.Recensione{
	width: 54px;
	height: 54px;
	left: 0px
	top: 0px;
	position: absolute;
	overflow: visible;
}
.Recensione_button{
	position: absolute;
	width: 54px;
	height: 54px;
	overflow: visible;
  	background: none;
  	outline: none!important;
  	cursor: pointer;
  
}

.Button_entra {
  	background-color: #ff1744;
  	border: none;
  	color: #ffffff;
	border-radius: 26.5px;
	position: absolute;
	overflow: visible;
	width: 138px;
	height: 54px;
	left: 110px;
	top: 0px;
  	text-align: center;
  	line-height: 54px;
  	text-decoration: none;
  	display: inline-block;

  	font-size: 36px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: lighter;

}
.Option_bar {
	position: absolute;
	width: 570.552px;
	height: 195px;
	left: 554.835px;
	top: 540px;
	overflow: visible;
}

.Option_button{
	position: absolute;
	width: 104px;
	height: 104px;
	overflow: visible;
  	background: none;
  	outline: none!important;
  	cursor: pointer;
  
}
.rec {
	position: absolute;
	overflow: visible;
	width: 573.552px;
	height: 198px;
	left: 0px;
	top: 0px;
}
.Guitar {
	left: 29.165px;
	top: 24px;
}
.Microphone{
	left: 296.165px;
	top: 24px;
	overflow: visible;
}
.Cd {
	left: 154.165px;
	top: 24px;
}
.Stage{
	width: 96px;
	height: 96px;
	left: 438.165px;
	top: 28px;
}
.Central_font{
	position: absolute;
	top: 135px;
	white-space: nowrap;
	text-align: left;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 43px;
	color: #000000;
	overflow: visible;
}
.Rock_font{
	left: 29.165px;
	width: 97px;
}
.Dj_font {
	left: 186.165px;
	width: 42px;
}
.Pop_font{
	left: 309.165px;
	width: 78px;
}
.Locali_font{
	left: 428.165px;
	width: 116px;
}



.search-form {
  position: relative;
  top: 363px;
  left: 843px;
  width: 746px;
  height: 90px;
  border-radius: 44px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  background: #fff;
  transition: all 0.3s ease;

  &.focus {
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }
}

.search-input {
  position: absolute;
  top: 24px;
  left: 202px;
  font-size: 36px;
  background: none;
  color: #5a6674;
  width: 70%;
  border: none;
  appearance: none;
  outline: none;

  &::-webkit-search-cancel-button {
    appearance: none;
  }
}
input::placeholder {
  font-family: Gilroy;
  color: #7f7f7f;
}

.search-button {
  position: absolute;
  top: 23px;
  left: 44px;
  height: 47px;
  width: 47px;
  padding: 0;
  margin: 0;
  border: none;
  background: none;
  outline: none!important;
  cursor: pointer;
  
  & svg {
    width: 20px;
    height: 20px;
    fill: #5a6674;
  }
}












