/*definizione dei font usati nel sito*/
@font-face {
    font-family: "Gilroy Bold";
    src: url("/assets/Fonts/EM-Gilroy/Gilroy-Bold.ttf") format("opentype");
}
    
@font-face {
    font-family: "Gilroy Medium";
    src:url("/assets/Fonts/EM-Gilroy/Gilroy-Medium.ttf") format("opentype");
}
@font-face {
    font-family: "Gilroy Light";
    src:url("/assets/Fonts/EM-Gilroy/Gilroy-Light.ttf") format("opentype");
}
@font-face {
    font-family: "Gilroy Semi-Bold";
    src: url("/assets/Fonts/EM-Gilroy/Gilroy-SemiBold.ttf") format("opentype");
}   

/* Proprietà comuni */

a:active{ outline: none;}
a img {outline : none;}
img {border : 0;}
h1{
    font-family: Gilroy Medium;
}
h4{
    font-family: Gilroy Bold;
}
select{
    outline: none!important;
}


.login{
    height: 120vh;
    background: #ffffff;
    background-image: url(/assets/people_watching_concert_during.jpg);
    background-size: cover;
    background-position: center;
    width: auto;
}


/*Common font styles*/


/*some fonts styles*/
.login-label{
    font-family: Gilroy Medium;
    color: #000000;
    font-size: 2rem;
}
.login-label-secondo{
    font-family: Gilroy Light;
    color: #000000;
    font-size: 1rem;
}


.form-control:focus {
    box-shadow: none;
  }
  
.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
}

/* Bottoni comuni */
.registrati{
    font-family: Gilroy Light;
    border-radius: 44px;
}

#result{
    background-color: #ffffff;
    border-radius: 25px;
    border-style: solid;
    border-color: #000000;
    padding: 5%;
    font-family: Gilroy Light;
}

.entra{
    font-family: Gilroy Light;
    border-radius: 44px;
    background-color:#FF1744;
}

.cropper-crop-box, .cropper-view-box {
    border-radius: 50%;
}

.cropper-view-box {
    box-shadow: 0 0 0 1px #39f;
    outline: 0;
}

