
/*login and signup forms*/
.form-input {
  font-family: Gilroy Medium;
  padding-left: 5%;
  font-size: 1.5rem;
  background: white;
  color: #5a6674;
  border: none;
  appearance: none;
  outline: none;
  border-radius: 44px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transition: all 0.5s ease;
}
.form-form {
    /*border-radius: 44px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);*/
    background: none;
    transition: all 0.5s ease;
  }
/*.button{
    border-radius: 44px;
}*/
textarea {
  font-family: Gilroy Medium;
  resize: none;
}
.list-group{
  max-height: 20vh;
  margin-bottom: 10px;
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}
.checked{
  color:#FF1744;
}
p{
  font-family: Gilroy Light;
}

.cropper-crop-box, .cropper-view-box {
  border-radius: 50%;
}
.cropper-view-box {
  box-shadow: 0 0 0 1px #39f;
  outline: 0;
}